footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #2b3738;
    padding: 1.5rem;

}

footer i {
    color: white;
}

footer p {
    color: white;
}

footer a {
    transition: all 0.5s;
}

footer a:hover {
    font-size: 1.5rem;
}


.icon-container {
    display: flex;
    gap:1.5rem;
}

.footer-links {
    display: flex;
    gap: 0.5rem;
}